header{
    width:100%;
    position:fixed;
    top:0;
    z-index:1;
}
.card-title{
    color:#0091ff;
}
main{
    position: absolute;
}
.tab-container{
    display:flex;
    float: inline-start;
}
section {
    width:70%;
    height:20%;
    margin:auto;
}
.carousel-item img{
    width:100%;
    height:25px;
    margin:auto;
}
.d-flex{
    width:55%;
    margin-top: 20px;
}
.fa-solid fa-magnifying-glass{
    left: auto;
}
.fa-solid{
    padding-top: 15px;
}