body{
    color:black

}




body{
    border: 10px;
}
/* Resetting default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the navigation bar */
  nav {
    background-color: #333;
  }
  
  /* Style for the unordered list */
  ul {
    list-style: none;
    overflow: hidden;
  }
  
  /* Style for list items */
  li {
    float: left;
  }
  
  /* Style for links */
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  li a:hover {
    background-color: #555;
  }
  section{
    width:50%;
    height: 50%;
    margin:auto ;
}
.carousel-item img{
    height: 500px;
    width: 500px;
    margin: 50px auto;
}
/* Resetting default margin and padding */
body, footer {
  margin: 0;
  padding: 0;
}

/* Style for the footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
header{
  width:100%;
  position:fixed;
  top:0;
  z-index:1;
}
.card-title{
  color:#0091ff;
}
main{
  position: absolute;
}
.tab-container{
  display:flex;
  float: inline-start;
}
section {
  width:100%;
  height:20%;
  margin:auto;
}
.carousel-item img{
  width:100%;
  height:250px;
  margin:auto;
  display: flex;
}
.d-flex{
  width:55%;
  margin-top: 20px;
  flex-direction: column;
}
.fa-solid fa-magnifying-glass{
  left: auto;
}
.fa-solid{
  padding-top: 15px;
}
.body{
  display: inline;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
